<ion-view title="About" id="page3" style="background-color:#5096C7;">
    <ion-content padding="true" class="has-header" scroll="falsew">
        <div>
            <img src="img/uCpNRZQkSiopeRK9rlsQ_logon.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="about-heading4" style="color:#000000;text-align:center;">The Rosary</h3>
        <div id="about-markdown1" style="color:#000000;text-align:center;">
            <p>Designed and developed by Dr. Choo PY and L. Gautier</p>

            <p>© All rights reserved</p>

            <p>
                <strong>2016</strong>
            </p>
        </div>
    </ion-content>
</ion-view>
