<ion-view title="Home" id="page1">
    <ion-content padding="true" style="background: url(img/lordPic.jpg) no-repeat center;background-size:cover;" class="has-header" scroll="false">
        <h1 id="home-heading1" style="color:#5096C7;text-align:center;">The Rosary</h1>
        <a ui-sref="menu.rosary" id="home-button5" class="button button-calm  button-block">Rosary Beads</a>
        <a ui-sref="menu.prayerIntention" id="home-button6" class="button button-balanced  button-block button-left">Prayer Intention</a>
    </ion-content>
</ion-view>
