<ion-view title="Prayer Intention" id="page4" style="background-color:#5096C7;">
    <ion-content padding="true" class="has-header" scroll="false">
        <form id="prayerIntention-form3" class="list" ng-controller="prayerPop">
            <label class="item item-input" id="prayerIntention-input1">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Enter name (optional)">
            </label>
            <label class="item item-input" id="prayerIntention-input2">
                <span class="input-label">From</span>
                <input type="text" placeholder="requesting from">
            </label>
            <label class="item item-input" id="prayerIntention-input3">
                <span class="input-label">Prayer</span>
                <input type="text" placeholder="">
            </label>
            <button id="prayerIntention-button7" class="button button-positive  button-block"
                ng-click='showConfirm()'>Submit</button>
        </form>
    </ion-content>
</ion-view>
